

body{
	overflow-x: hidden;
}


label{
	padding: 7px;
	display: table;
	color: #fff;
}

input[type="file"]{
	display: none;
}

#posts-img{
	padding-top:5px;
	padding-right: 10px;
	min-width: 102%;
	max-width: 50%;

}

#posts{
	padding: 5px solid #e6e6e6;
	padding: 40px 50px;
}

.forme{
	width: 300px;
}