
@media (min-width: 992px)
.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: .6rem;
  padding-left: .8rem;

}
.navbar-light .navbar-nav .nav-link {
    color: black;

}

.navbar-light .navbar-nav .nav-link:hover {
    color: blue;
}

.nav-link {
    display: block;

    padding: .8rem 9rem;
    margin:5px;
    color:red;
}
body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: orange;
    text-align: left;
    background-color: ;
}

@media (min-width: 92px)
.navbar-expand-lg .navbar-collapse {
    display: -webkit-box!important;
    display: -ms-flexbox!important;
    display: flex!important;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
}



.bg-light {
    background-color: orange!important;
}


li {

    display: inline-block;
    text-align: -webkit-match-parent;

    margin: 10px;
    padding:0px;

}




.dropdown-item {
    display: block;
    width: 100%;
    padding: .25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: red;
    text-align: inherit;
    white-space: nowrap;
    background-color: black;
    border: 0;
    border-bottom: 1px solid green;
}

.dropdown-item last child{
  border-bottom: none;
}


.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
     padding: 0px;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: black;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
    margin-top: 15px;
}

.dropdown-item:focus, .dropdown-item:hover {
    color: red;
    text-decoration: none;
    background-color: orange;

}
